* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-size: 16px;
    font-family: Oxygen, sans-serif
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
nav {
    background-color: rgb(89, 19, 57);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


nav a {
    color: #fff; 
    /* #fff is shorthand for white */
    display: block;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    /* text-decoration: none; removes the UNDERLINES */
}

main {
    grid-column: 2;
    margin: 1rem;

}

h1 {
    color: rgb(62, 13, 40);
    margin: 1rem;
    padding: .5rem;
    border-bottom: 2px solid black;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem; 
}

p {
    margin: 1rem;
    padding: 5px;
}

ul{
    /* margin: 1rem; */
}

aside {
    width: 20rem;
    /* margin: 1rem; */
    /* border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    background-color: #eee;
    color: #333; */
    text-align: center;
    position: relative;
    grid-column: 1; 
    /* This line is not really necessary */
    /* because there are only 2 columns and we said <main> is in column 2 */
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 125px;
}

aside img {    
    width: 200px;
    height: auto;
    
}


footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    /* text-align: center; */
}

/* Class Selectors */
.grid {
    display: grid;
    align-items: center;
}


.box {
    margin: 1rem;
    border: 3px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: rgb(201, 162, 168);
    color: rgb(10, 9, 9);
}

.indent {
  padding-left: 2rem;  
}